# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Strings.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\VS Projects\Strings\.idea\.idea.Strings\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
